*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.heading{
    background: url(./.images/jen1.jpg);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
}
.paragraph{
    background: url(./images/jen2.jpg);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}
.input{
    background: url(./images/jen3.jpg);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}
.heading-content p{
    font-size: 10px;
}
.heading-content .img{
    margin-top: -20px;
    padding-top: 20px;
}
form input , form textarea{
    background-color: transparent;
    outline: 1px solid white;
} form input{
    width: 400px;
}
form  textarea{
    width: 800px;
    height: 200px;
}
.footer-bottom{
    font-size: 14px;
}